.sec1 {
    margin-top: 13px;
    margin-left: 187px;
    height: 579px;
    background-color: #FFFFFF;
    padding-left: 90px;
    padding-top: 20px;
    width: 1000px;
}

.Header {
    color: darkblue;
}

.salary {
    Width: 320px;
    Height: 32px;
    margin-left: 30px;
}

footer {
    margin-top: 50px;
}

.abc input[type=radio] {
    margin-left: 30px;
    margin-right: 8px;
}

.cba input[type=radio] {
    margin-left: 40px;
    margin-right: 8px;
}

.abd input[type=checkbox] {
    margin-left: 25px;
    margin-right: 8px;
}
